.search__form
{
    position: absolute;
    top: 20px;
    min-width: 980px;
    width: 100%;
}

.search__bar
{
    padding-left: 150px;
    position: relative;
    padding-right: 0;
    margin: -1px 0 0;
}

.bar__title
{
    display: inline-block;
    font-size: 44px;
    line-height: 44px;

    position: absolute;
    left: 0;
    padding-left: 20px;
    padding-top: 2px;
}

.sbar
{
    padding-bottom: 2px;
    padding-top: 3px;
    margin-top: -2px;
    width: 630px;
}

.sibar
{
    position: relative;
    text-align: left;
}

.sicbar
{
    line-height: 0;
    overflow: visible;
    white-space: nowrap;
}

.sicbbar
{
    background-color: #fff;
    height: 44px;
    vertical-align: top;
    border-radius: 2px;
    transition: 0.3s ease;
    max-width: none;
    overflow: hidden;
    border: 1px solid rgba(35,34,45,0.4);
}

#search__bar
{
    overflow: visible;
    width: auto;
    max-width: 784px;
    position: relative;
    background: none;
}

.form__control.search
{
    line-height: 44px;
    height: 44px;
}

#search__submit
{
    background: transparent;
    border: 0;
    float: right;
    height: 44px;
    line-height: 44px;
    outline: 0;
    padding-right: 16px;
    position: relative;
    white-space: nowrap;
    margin-top: -1px;
}

.search__icon
{
    height: 24px;
    width: 24px;
    vertical-align: middle;
    cursor: pointer;
    font-size: 16px;
}
